<app-dialog [title]="t('transactions.title' + transactionForm.type().value())" *transloco="let t">
  <form dialog-body id="transaction-form" [formRoot]="transactionForm" class="space-y-4 md:space-y-6" novalidate>
    <div class="pb-4">
      <label for="type" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{
        t('transactions.typeLabel') }}</label>
      <select id="type" [formField]="transactionForm.type"
        class="bg-gray-50 border text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        [class.border-red-500]="transactionForm.type().invalid() && transactionForm.type().touched()"
        [class.border-gray-300]="!transactionForm.type().invalid() || !transactionForm.type().touched()"
        [class.dark:border-red-500]="transactionForm.type().invalid() && transactionForm.type().touched()"
        [class.dark:border-gray-600]="!transactionForm.type().invalid() || !transactionForm.type().touched()">
        <option value="">{{ t('transactions.typePlaceholder') }}</option>
        @if (this.data?.transaction?.type !== 'OpeningBalance') {
        <option value="Income">{{ t('transactions.titleIncome') }}</option>
        <option value="Expense">{{ t('transactions.titleExpense') }}</option>
        }
        @if (this.data?.transaction?.id && this.data?.transaction?.type === 'OpeningBalance') {
        <option value="OpeningBalance">{{ t('transactions.titleOpeningBalance') }}</option>
        }
      </select>
      @if (transactionForm.type().touched() && transactionForm.type().errors().length &&
      transactionForm.type().errors()[0].message) {
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">{{ t(transactionForm.type().errors()[0].message!) }}</p>
      }
    </div>
    <div class="pb-4">
      <label for="date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{
        t('transactions.dateLabel') }}</label>
      <input type="date" id="date" [formField]="transactionForm.date" autocomplete="given-name"
        placeholder="{{ t('transactions.datePlaceholder') }}"
        class="bg-gray-50 border text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        [class.border-red-500]="transactionForm.date().invalid() && transactionForm.date().touched()"
        [class.border-gray-300]="!transactionForm.date().invalid() || !transactionForm.date().touched()"
        [class.dark:border-red-500]="transactionForm.date().invalid() && transactionForm.date().touched()"
        [class.dark:border-gray-600]="!transactionForm.date().invalid() || !transactionForm.date().touched()">
      @if (transactionForm.date().touched() && transactionForm.date().errors().length &&
      transactionForm.date().errors()[0].message) {
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">{{ t(transactionForm.date().errors()[0].message!) }}</p>
      }
    </div>
    <div class="pb-4">
      <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{
        t('transactions.descriptionLabel') }}</label>
      <input type="text" id="description" [formField]="transactionForm.description" autocomplete="given-name"
        placeholder="{{ t('transactions.descriptionPlaceholder') }}"
        class="bg-gray-50 border text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        [class.border-red-500]="transactionForm.description().invalid() && transactionForm.description().touched()"
        [class.border-gray-300]="!transactionForm.description().invalid() || !transactionForm.description().touched()"
        [class.dark:border-red-500]="transactionForm.description().invalid() && transactionForm.description().touched()"
        [class.dark:border-gray-600]="!transactionForm.description().invalid() || !transactionForm.description().touched()">
      @if (transactionForm.description().touched() && transactionForm.description().errors().length &&
      transactionForm.description().errors()[0].message) {
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">{{ t(transactionForm.description().errors()[0].message!) }}
      </p>
      }
    </div>
    <div class="pb-4">
      <label for="amount" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{
        t('transactions.amountLabel') }}</label>
      <input type="number" id="amount" [formField]="transactionForm.amount" autocomplete="given-name"
        placeholder="{{ t('transactions.amountPlaceholder') }}"
        class="bg-gray-50 border text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        [class.border-red-500]="transactionForm.amount().invalid() && transactionForm.amount().touched()"
        [class.border-gray-300]="!transactionForm.amount().invalid() || !transactionForm.amount().touched()"
        [class.dark:border-red-500]="transactionForm.amount().invalid() && transactionForm.amount().touched()"
        [class.dark:border-gray-600]="!transactionForm.amount().invalid() || !transactionForm.amount().touched()">
      @if (transactionForm.amount().touched() && transactionForm.amount().errors().length &&
      transactionForm.amount().errors()[0].message) {
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">{{ t(transactionForm.amount().errors()[0].message!) }}</p>
      }
    </div>
    <div class="pb-4">
      <label for="account" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{
        t('transactions.accountLabel') }}</label>
      <select id="account" [formField]="transactionForm.accountId"
        class="bg-gray-50 border text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
        [class.border-red-500]="transactionForm.accountId().invalid() && transactionForm.accountId().touched()"
        [class.border-gray-300]="!transactionForm.accountId().invalid() || !transactionForm.accountId().touched()"
        [class.dark:border-red-500]="transactionForm.accountId().invalid() && transactionForm.accountId().touched()"
        [class.dark:border-gray-600]="!transactionForm.accountId().invalid() || !transactionForm.accountId().touched()">
        <option value="">{{ t('transactions.accountPlaceholder') }}</option>
        @for (account of accounts(); track account.id) {
        <option [value]="account.id">{{ account.name }}</option>
        }
      </select>
      @if (transactionForm.accountId().touched() && transactionForm.accountId().errors().length &&
      transactionForm.accountId().errors()[0].message) {
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">{{ t(transactionForm.accountId().errors()[0].message!) }}
      </p>
      }
    </div>
    @if (errorMessage()) {
    <p class="mt-2 text-sm text-red-600 dark:text-red-500">{{ t(errorMessage()) }}</p>
    }
  </form>
  <div dialog-footer>
    <button type="submit" form="transaction-form"
      class="inline-flex w-60 items-center justify-center gap-2 text-white cursor-pointer bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
      <app-icon [name]="this.data?.transaction?.id ? 'edit' : 'circle-plus'" class="w-6 h-6">
      </app-icon>
      @if (this.data?.transaction?.id) {
      {{ t(`transactions.update${transactionForm.type().value()}`) }}
      } @else {
      {{ t(`transactions.add${transactionForm.type().value()}`) }}
      }
      @if (transactionForm().submitting()) {
      ...
      }
    </button>
  </div>
</app-dialog>