<div class="antialiased min-h-screen bg-gray-50 dark:bg-gray-900" *transloco="let t">
  <nav class="bg-white border-b border-gray-200 px-4 py-2.5 dark:bg-gray-800 dark:border-gray-700 fixed left-0 right-0 top-0 z-50">
    <div class="flex flex-wrap justify-between items-center">
      <div class="flex justify-start items-center">
        <button data-drawer-target="drawer-navigation"
                data-drawer-toggle="drawer-navigation"
                aria-controls="drawer-navigation"
                class="p-2 mr-2 text-gray-600 rounded-lg cursor-pointer md:hidden hover:text-gray-900 hover:bg-gray-100 focus:bg-gray-100 dark:focus:bg-gray-700 focus:ring-2 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          <app-icon
              name="bars"
              class="w-6 h-6">
          </app-icon>
          <span class="sr-only">{{ t('mainLayout.topbar.toggleSidebar') }}</span>
        </button>
        <div class="flex items-center justify-between mr-4">
          <app-logo class="mr-3 h-10 w-auto block xs:hidden md:block text-black dark:text-white" />
          <app-logo-full class="mb-1 h-8 sm:h-9 w-auto hidden xs:block text-black dark:text-white" />
        </div>
      </div>
      <div class="flex items-center lg:order-2">
        <!-- Language selector -->
        <app-language-selection></app-language-selection>
        <!-- Theme toggle -->
        <app-theme-toggle></app-theme-toggle>

        <button type="button"
                class="p-0 sm:p-2 text-sm text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700"
                id="user-menu-button"
                aria-expanded="false"
                data-dropdown-toggle="dropdown">
          <span class="sr-only">{{ t('mainLayout.topbar.openUserMenu') }}</span>
          <app-icon
              name="user-circle"
              class="w-6 h-6">
          </app-icon>
        </button>
        <!-- Dropdown menu -->
        <div class="hidden z-50 my-4 w-56 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600 rounded-xl"
             id="dropdown">
          <div class="py-3 px-4">
            <span class="block text-sm font-semibold text-gray-900 dark:text-white">{{ authService.getCurrentUser()?.firstName }} {{ authService.getCurrentUser()?.lastName }}</span>
            <span class="block text-sm text-gray-900 truncate dark:text-white">{{ authService.getCurrentUser()?.email }}</span>
          </div>
          <ul class="py-1 text-gray-700 dark:text-gray-300"
              aria-labelledby="dropdown">
            <li>
              <a routerLink="/account-settings"
                  class="flex items-center p-2 block w-full text-left py-2 px-4 text-sm cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                  <app-icon
                      name="user-settings"
                      class="w-6 h-6 text-gray-800 dark:text-white">
                  </app-icon>
                  <span class="flex-1 ml-3 text-left whitespace-nowrap">{{ t('mainLayout.userMenu.accountSettings') }}</span>
              </a>
            </li>
            @if (authService.isAdmin()) {
            <li>
              <a routerLink="/users"
                  class="flex items-center p-2 block w-full text-left py-2 px-4 text-sm cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                  <app-icon
                      name="users"
                      class="w-6 h-6 text-gray-800 dark:text-white">
                  </app-icon>
                  <span class="flex-1 ml-3 text-left whitespace-nowrap">{{ t('mainLayout.userMenu.users') }}</span>
              </a>
            </li>            
          }
          </ul>
          <ul class="py-1 text-gray-700 dark:text-gray-300"
              aria-labelledby="dropdown">
            <li>
              <button type="button"
                      (click)="logout()"
                      class="flex items-center p-2 block w-full text-left py-2 px-4 text-sm cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                <app-icon
                    name="arrow-right-to-bracket"
                    class="w-6 h-6 text-gray-800 dark:text-white">
                </app-icon>
                <span class="flex-1 ml-3 text-left whitespace-nowrap">{{ t('mainLayout.userMenu.logout') }}</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- Sidebar -->

  <aside class="fixed top-0 left-0 z-40 w-64 h-screen pt-14 transition-transform -translate-x-full bg-white border-r border-gray-200 md:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
         aria-label="Sidenav"
         id="drawer-navigation">
    <div class="overflow-y-auto py-5 px-3 h-full bg-white dark:bg-gray-800">
      <ul class="space-y-2">
        <li>
          <button type="button"
                  class="flex items-center p-2 w-full cursor-pointer text-base font-medium text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
            <app-icon
                name="sort-horizontal"
                class="w-6 h-6 text-gray-800 dark:text-white">
            </app-icon>
            <span class="flex-1 ml-3 text-left whitespace-nowrap">{{ t('mainLayout.sidebar.transactions') }}</span>
          </button>
        </li>
        <li>
          <button type="button"
                  class="flex items-center p-2 w-full cursor-pointer text-base font-medium text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
            <app-icon
                name="chart-line-up"
                class="w-6 h-6 text-gray-800 dark:text-white">
            </app-icon>
            <span class="flex-1 ml-3 text-left whitespace-nowrap">{{ t('mainLayout.sidebar.summary') }}</span>
          </button>
        </li>
        <li>
          <button type="button"
                  class="flex items-center p-2 w-full cursor-pointer text-base font-medium text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700">
            <app-icon
                name="wallet"
                class="w-6 h-6 text-gray-800 dark:text-white">
            </app-icon>
            <span class="flex-1 ml-3 text-left whitespace-nowrap">{{ t('mainLayout.sidebar.accounts') }}</span>
          </button>
        </li>
      </ul>
    </div>
  </aside>

  <main class="p-4 md:ml-64 h-auto pt-20">
    <!-- Content from child routes renders here -->
    <router-outlet></router-outlet>
  </main>
</div>
