<div class="min-h-screen flex">
  <!-- Left column -->
  <div class="hidden md:flex flex-1 bg-slate-100 dark:bg-gray-800 items-center justify-center">
    <div class="text-center">
      <img
        src="images/clovance-logo.svg"
        alt="Clovance logo"
        class="w-40 mx-auto mb-6 dark:hidden"
      />
      <img
        src="images/clovance-logo-dark.svg"
        alt="Clovance logo"
        class="w-40 mx-auto mb-6 hidden dark:block"
      />

      <img
        src="images/clovance.svg"
        alt="Clovance logo"
        class="w-80 mx-auto mb-6 dark:hidden"
      />
      <img
        src="images/clovance-dark.svg"
        alt="Clovance logo"
        class="w-80 mx-auto mb-6 hidden dark:block"
      />
    </div>
  </div>

  <!-- Right column -->
  <div class="flex-1 flex items-center justify-center bg-gray-50 dark:bg-gray-900">
    <div class="w-full max-w-lg">
        <router-outlet />
    </div>
  </div>
</div>