<app-dialog [title]="t('users.inviteUser')" *transloco="let t">
            <form dialog-body id="invite-user-form" [formRoot]="sendInvitationForm" class="space-y-4 md:space-y-6" novalidate>
                <div class="grid gap-4 pb-4">
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ t('users.email') }}</label>
                        <input type="email" id="email" [formField]="sendInvitationForm.email" autocomplete="email" placeholder="{{ t('login.emailPlaceholder') }}" class="bg-gray-50 border text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" [class.border-red-500]="sendInvitationForm.email().invalid() && sendInvitationForm.email().touched()" [class.border-gray-300]="!sendInvitationForm.email().invalid() || !sendInvitationForm.email().touched()" [class.dark:border-red-500]="sendInvitationForm.email().invalid() && sendInvitationForm.email().touched()" [class.dark:border-gray-600]="!sendInvitationForm.email().invalid() || !sendInvitationForm.email().touched()">
                        @if (sendInvitationForm.email().touched() && sendInvitationForm.email().errors().length && sendInvitationForm.email().errors()[0].message) {
                        <p class="mt-2 text-sm text-red-600 dark:text-red-500">{{ t(sendInvitationForm.email().errors()[0].message!) }}</p>
                        }
                    </div>
                </div>
                <div class="grid gap-4 pb-4">
                    <div class="flex items-start sm:items-center">
                        <input type="checkbox" id="isAdmin" [formField]="sendInvitationForm.isAdmin" class="w-4 h-4 text-primary-600 bg-gray-100 border-gray-300 rounded focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="isAdmin" class="ms-2 text-sm font-medium text-gray-900 dark:text-white">{{ t('users.isAdmin') }}</label>
                    </div>
                </div>
                @if (errorMessage()) {
                    <p class="mt-2 text-sm text-red-600 dark:text-red-500">{{ t(errorMessage()) }}</p>
                }
            </form>
            <div dialog-footer>
                    <button
                        type="submit" 
                        form="invite-user-form"
                        class="text-white inline-flex items-center cursor-pointer bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
                        [disabled]="sendInvitationForm().submitting()">
                        <app-icon
                            name="user-add"
                            class="w-6 h-6 mr-1">
                        </app-icon>
                        @if (sendInvitationForm().submitting()) {
                            {{ t('users.sendInvitation') }}...
                        } @else {
                            {{ t('users.sendInvitation') }}
                        }
                    </button>
            </div>
</app-dialog>